.music-toggle {
    margin-left: 1380px;
    margin-top: 150px; 
    position: fixed;
    padding: 12px; 
    border-radius: 50%; 
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
  }
  