@keyframes bounce-char {
  100% {
    top: -10px;
    
    @media (min-width: 640px) {
      top: -15px;
    }
    
    @media (min-width: 768px) {
      top: -20px;
    }
  }
}

.animate-bounce-char {
  position: relative;
  top: 10px;
  display: inline-block;
  font-size: 20px;
  font-style: italic;
  color: white;
  animation: bounce-char 0.8s ease infinite alternate;
  
  @media (min-width: 640px) {
    top: 15px;
    font-size: 24px;
  }
  
  @media (min-width: 768px) {
    top: 20px;
    font-size: 30px;
  }
}

.activeLink {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}
